{
	"plugins": ["prettier-plugin-css-order", "prettier-plugin-organize-attributes"],
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"printWidth": 100,
	"endOfLine": "lf"
}
